/homework1/shoppingCartHW/nbproject/private/
/homework1/shoppingCartHW/build/
/homework1/weatherHW/nbproject/private/
/homework1/weatherHW/build/
/homework1/ShapeFactory/nbproject/private/
/shapefactory/nbproject/private/
/shapefactory/build/
/homework2/shapeFactory/nbproject/private/
/homework2/shapeFactory/build/
